html {
  position: relative;
  min-height: 100%;
}

h1{color:#FFA00F;font-size:28px;font-weight:400;padding:5px 20px 10px 20px;line-height:39px;font-family:"Lato", Helvetica, Arial, sans-serif;text-transform:uppercase;}
h2{color:#FFA00F;font-size:20px;width:auto;padding:10px;font-family:"Lato", Helvetica, Arial, sans-serif;text-transform:uppercase}
.secondary h3{color:#fff;text-shadow:1px 1px 2px #8a8a8a;font-size:16px;width:auto;padding:10px;font-family:'Open Sans', Arial, sans-serif;font-weight:bold;text-transform:uppercase}

.tiles h2{color:#FFF;font-size:11px;text-align:center;padding:10px 0px 5px 0px;font-family:'Open Sans', Arial, sans-serif;font-weight:300;text-transform:uppercase;white-space:nowrap;overflow:hidden;}
.tiles h2 a{display:inline-block;}
.tiles h2 a img{vertical-align:middle;padding:0px 0px 0px 3px;}
.tiles ali:nth-child(3n){height:175px;}
.tiles ali:nth-child(4n-3){padding-bottom:30px;}
.tiles ali:nth-child(5n){height:250px;}

.scrollup{width:39px;height:42px;position:fixed;bottom:30px;right:10px;display:none;background:url('../images/totop.jpg') no-repeat;}

.comarg {padding:10px 20px 10px 20px;} 

.comarg h3{color: #FFA00F;font-size:14px;width:auto;font-weight:700;padding:10px;font-family: "Lato", Helvetica, Arial, sans-serif;text-transform:uppercase}

.single-top
{border-bottom: 3px solid #fff;}

#footer{
background-color:#222;
border-top: 1px solid #022241;
color: white;
height:auto;
}

#footer a {color: white;}

.navbar .navbar-nav > li > a {
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.mycloud a {
background-color: #FFA00F;
    color: #fff;
    display: inline-block;
    margin: 0 4px 8px 0;
    padding: 2px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px;
}


 
.tip_ico{
		width: 40px;
		height: 43px;
		overflow: hidden;
		display: block;
		text-indent: -999px;
		position: absolute;
		margin-left: -20px;
		margin-top: -20px;
		background: url(../images/new_hot.png) no-repeat;
	}	
	span.new_tip{ background-position: 0 0;}
	span.hot_tip{ background-position: -40px 0;}
	span.tag_tip{ background-position: -80px 0;}
	span.related_tip{ background-position: -120px 0;}

.selectWidth {
	width: auto;
  	margin:10px;
  }
